.delete-button {

    font-weight: 700;
    font-size: 16px; /* Размер шрифта для кнопки удалить */
    margin-right: 100px; /* Отступ между кнопками */
    padding: 10px 20px; /* Параметры отступа внутри кнопки */
    margin-top: 200px;
    border-radius: 50px;
    background-color: #228B22;
    color: white;
    text-decoration: none;
}

.delete-button:hover {
  cursor: pointer;
}


.back-button {
    margin-top: 300px;
    font-weight: 700;
    font-size: 16px; /* Размер шрифта для кнопки назад */
    padding: 10px 20px; /* Параметры отступа внутри кнопки */
    border-radius: 50px;
    background-color: #228B22;
    color: white;
    text-decoration: none;
}

.buttons-container {
    text-align: center; /* Центрирование кнопок */
}
