<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <script src="https://kit.fontawesome.com/6aae901a73.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>


</head>
<body>

  <div class="main-flex-container">
    <div class="left-flex-container flex-item">
      <div class="nav-links">
        <ul>


          {% if request.path == '/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'index'  %}"><i class="fas fa-home"></i> Home </a></li>
          {% if request.path == '/followings/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'followings' %}"><i class="fa-solid fa-users"></i></i>Followings</a></li>
          {% if request.path == '/saves/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'saves' %}"><i class="far fa-bookmark"></i> Bookmarks</a></li>
          {% if request.path == '/likes/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'likes' %}"><i class="fa-solid fa-heart"></i>Likes</a></li>
          {% if request.path == '/messages/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'messages' %}"><i class="fa-solid fa-message"></i>Messages</a></li>
          {% if request.path == '/profile/{{user.id}}/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'user_profile' request.user.id %}"><i class="far fa-user"></i>Profile</a></li>
          {% if request.path == '/groups/' %}<li class="nav-items current-page">{% else %}<li class="nav-items ">{% endif %}<a href="{% url 'groups' %}"><i class="fa-solid fa-user-group"></i>Groups</a></li>
          <li class="nav-items "><a style = 'cursor:pointer;'  id="openModalBtn"><i class="fa-solid fa-note-sticky"></i>New Post</a></li>
          {% if request.user.is_superuser %}
            {% if request.path == '/' %}
                <li class="nav-items "><a style = 'cursor:pointer;' id="openModalBtn2"><i class="fa-solid fa-bars-progress"></i>appointment of a moderator</a></li>
            {% endif %}
          {% endif %}
          <li class="nav-items"><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>


         
        </ul>
      </div>




      <div class="profile-box">
        {% if request.user.profile_pic %}
        <a href = "{% url 'user_profile'  request.user.id %}"><img src="{{request.user.profile_pic.url}}" alt="profile"></a>
        {% else %}
        <a href = "{% url 'user_profile'  request.user.id %}"><img src="{% static 'images/no_photo.jpg' %}" alt="profile"></a>
        {% endif %}
        <div class="profile-link">
          <p class="full-name">{{request.user.first_name}}</p>
          <p class="user-name">{{request.user.username}}</p>
        </div>
      </div>
    </div>

    <div class="center-flex-container flex-item">
      {% block main %}
      {% endblock main %}

    </div>



    <div class="right-flex-container flex-item">
      <div class="search-box">
        <i class="fas fa-search"></i>
          <input type="text" placeholder="Search People" name="q"   hx-get="{% url 'people-search' %}" hx-trigger="keyup changed, q" hx-target='#search-results' hx-indicator=".htmx-indicator">
        <div id = 'search-results'>
          {% include "social/search_results.html" %}
        </div>
      </div>

      <!-- You might know -->

      <div class="trends">
        <ul>
          <li class="nav-list header">
            <h2>You might know</h2><a href =  '{% url "subscribe_on_news" %}'><i class="fa-regular fa-newspaper" style = 'color:black;'> News</i></a>
          {% for user in you_might_know %}
          {% if user != request.user %}
          <li class="nav-list">

            <div class="trend-list">
              <p class="sub-text">Here from: {{user.date_joined}}</p>
              <p class="main-text">{{user.username}}</p>
              <p class="sub-text">Followers: {{user.followers.all.count}}</p>
            </div>
            <div class="trend-icon">
            </div>
             <div class="subscribeq"><a  id = '{{ user.pk }}' data-url = '{% url "subscribe" %}' class = 'subscribebtnq'><span  id = "btn_textt{{user.pk}}">Follow</span></a></div>
          </li>
          {% endif %}
          {% endfor %}

        </ul>
      </div>


      <div class="right-footer">
        <div class="footer-links">
          <a href="#" class="sub-text">Terms</a>
          <a href="#" class="sub-text">Privacy policy</a>
          <a href="#" class="sub-text">Ads info</a>
          <a href="#" class="sub-text">more</a>

        </div>
        <div class="footer-copyright">
          <p class="sub-text"></p>
        </div>

      </div>

    </div>

  </div>

<!-- Button trigger modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>New Post</h2>
    <p>
    <form action = '{% url "save_post_with_image" %}' method  = 'POST' enctype="multipart/form-data">
    {% csrf_token %}

      <div class = 'image'><input  type="file" accept="image" id="img-input" name = 'image' style="visibility:hidden;" ><label for="img-input" ><img src = 'https://avatars.mds.yandex.net/get-mpic/6780724/img_id5398870021742881284.jpeg/orig' class= 'display-img' id="display-img" /></div></label>
      <div class = 'text'><input type = 'text' placeholder="Your post text" maxlength="300" required name = 'text'></div>
      <button class = 'btn'  type = 'submit'>Save Post</button>
    </form>
    </p>
  </div>
</div>


<style>
.checkbox-input {
  width: 20px;
  height: 30px;
  cursor: pointer;
}
</style>
</body>

<div id="myModal2" class="modal2">
  <div class="modal-content2">
    <span class="close2">&times;</span>
    <h2>Choose Moderator</h2>
    <p>
    <form action = '{% url "add_moderator" %}' method  = 'POST'>
    {% csrf_token %}
      {% for user in users_all %}
            <li class="nav-list" style = 'display:flow; cursor: default;'>
            <input type="checkbox" name="moderator"  value="{{ user.id }}" class="checkbox-input">
            <div class="trend-lists">
             <img src="{{user.profile_pic.url}}" alt="user3">{% if user in moderators %}<span style = 'color: red; font-size: 20px;'>Moderator</span>{% endif %}</a></div>
              <a href="{% url 'user_profile' user.id %}"><p class="main-text">{{user.username}}</p></a>
            <div class="trend-icon">
            </div>

            </li>
      {% endfor %}
      <button class = 'btn'  name = 'button' type = 'submit' value = 'button_add'>Add Moderators</button>
      <button class = 'btn'  name= 'button' type = 'submit' value = 'button_delete'>Delete  Moderators</button>
    </form>
    </p>
  </div>
</div>





  <!-- jQuery library -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Latest compiled JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Like Post Ajax -->






<script>
        $(document).ready(function () {
            $(".likebtn").click(function (event) {
             var _this = $(this);
                event.preventDefault()
                var post_id = $(this).attr('id');
                console.log(post_id)
                $.ajax({
                    url: $(this).data('url'),
                    type: 'POST',
                    data: {
                        'post_id': post_id,
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function (response) {

                        $('#like_count' + post_id).text(response['total_likes']);
                      console.log(response)
                        if (response['check'] == 1) {
                              _this.find('i').removeClass('fa-regular fa-heart');
                              _this.find('i').addClass('fa-solid fa-heart');

                        }
                         else if(response['check'] == 0){
                           _this.find('i').removeClass('fa-solid fa-heart');
                           _this.find('i').addClass('fa-regular fa-heart');

                        }
                    },
                    error: function (rs, e) {
                        console.log(rs.response)
                    }
                });
            });
        });
</script>





<script>
<!-- Follow user ajax -->
        $(document).ready(function () {
            $(".subscribebtnq").click(function (event) {
             var _this = $(this);
                event.preventDefault()
                var creater_id = $(this).attr('id');
                console.log(creater_id)
                $.ajax({
                    url: $(this).data('url'),
                    type: 'POST',
                    data: {
                        'creater_id': creater_id,
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function (response) {
                               $('#btn_textt' + creater_id).text(response['info']);
                      console.log(response)

                    },
                    error: function (rs, e) {
                        console.log(rs.response)
                    }
                });
            });
        });
</script>




<script>
function deletePost(pk) {
  var action = confirm("Are you sure you want to delete this post?");
  if (action != false) {
    $.ajax({
        url: '{% url "delete_post" %}',
        data: {
            'pk': pk ,
        },
        dataType: 'json',
        success: function (data) {
            $('#postTable #post' + pk).remove();
        }
    });
  }
}
</script>








<script>
        $(document).ready(function () {
            $(".savepostbtn").click(function (event) {
             var _this = $(this);
                event.preventDefault()
                var pk = $(this).attr('id');
                console.log(pk)
                $.ajax({
                    url: $(this).data('url'),
                    type: 'POST',
                    data: {
                        'pk': pk,
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function (data) {
                      console.log(data)
                        if (data['flag'] == 1) {
                              _this.find('i').removeClass('fa-regular fa-bookmark');
                              _this.find('i').addClass('fa-solid fa-bookmark');

                        }
                         else if(data['flag'] == 0){
                           _this.find('i').removeClass('fa-solid fa-bookmark');
                           _this.find('i').addClass('fa-regular fa-bookmark');

                        }
                    },
                    error: function (rs, e) {
                        console.log(rs.response)
                    }
                });
            });
        });

</script>




<style>
.comment-form  {
  margin-left: 20px;
  width: 100%;

}
.comment-form textarea {
  border-color:  #228B22;
  border: 2px solid  ;
  width: 100%;
  border-radius: 8px;
  height: 60px;
}

.comment-form textarea::placeholder {
  font-weight: bold;
  font-size: 15px;
  font-color: rgb(29,161,242);
}

.comment-form button {
    font-weight: bold;
    color: white;
    background: #228B22;
    padding: 0.1rem 0.09rem;
    border: 1px solid #228B22;
    border-radius: 25px;
    cursor: pointer;
}


.comments-container {
    border-radius: 8px;
    border: 2px solid ;
    width: 100%;
    border-color: black'
    margin-bottom: 30px; /* Добавляем отступ снизу контейнеру комментариев */
}


</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Находим все кнопки комментировать
    var commentToggleButtons = document.querySelectorAll('.comment-toggle-btn');

    commentToggleButtons.forEach(function(button) {
        // Добавляем обработчик события на каждую кнопку
        button.addEventListener('click', function() {
            // Находим форму комментария для текущего поста
            var commentForm = this.nextElementSibling;

            // Переключаем видимость формы комментария с плавным эффектом
            if (commentForm.style.display === 'none') {
                fadeIn(commentForm);
                // Скрываем кнопки лайк и сохранить
                this.parentElement.querySelector('.likebtn').style.display = 'none';
                this.parentElement.querySelector('.savepostbtn').style.display = 'none';
            } else {
                fadeOut(commentForm);
                // Показываем кнопки лайк и сохранить
                this.parentElement.querySelector('.likebtn').style.display = 'inline-block';
                this.parentElement.querySelector('.savepostbtn').style.display = 'inline-block';
            }
        });
    });

    // Функция для плавного появления элемента
    function fadeIn(element) {
        var opacity = 0;
        var timer = setInterval(function() {
            if (opacity >= 1) {
                clearInterval(timer);
            }
            element.style.opacity = opacity;
            opacity += 0.1;
        }, 50);
        element.style.display = 'block';
    }

    // Функция для плавного исчезновения элемента
    function fadeOut(element) {
        var opacity = 0;
        var timer = setInterval(function() {
            if (opacity <= 0) {
                clearInterval(timer);
                element.style.display = 'none';
            }
            element.style.opacity = opacity;
            opacity -= 0.1;
        }, 50);
    }
});
</script>



<style>
  /* Стили для модального окна */
  .modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляет прокрутку, если контент выходит за пределы окна */
    background-color: rgba(0,0,0,0.4); /* Затемненный фон */
  }





  /* Контент модального окна */
  .modal-content {
    background-color: white;
    margin: 15% auto; /* 15% от верхнего и нижнего края экрана, автоматически отступ от других сторон */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Ширина контента */
  }

  /* Закрывающая кнопка */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>




</head>
<body>

<!-- Кнопка для открытия модального окна -->

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Получаем ссылки на элементы модального окна
  var modal = document.getElementById('myModal');
  var openModalBtn = document.getElementById('openModalBtn');
  var closeModalBtn = document.getElementsByClassName('close')[0];

  // Функция открытия модального окна
  openModalBtn.onclick = function() {
    modal.style.display = 'block'; // Показываем модальное окно
  }

  // Функция закрытия модального окна
  closeModalBtn.onclick = function() {
    modal.style.display = 'none'; // Скрываем модальное окно
  }

  // Закрытие модального окна при клике вне его области
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = 'none'; // Скрываем модальное окно
    }
  }
});
</script>







<script>
  const imgInput = document.querySelector("#img-input")
  const displayImg = document.querySelector("#display-img")
  imgInput.addEventListener('change',
  (event)=>{
    const imgObject = event.target.files[0]
    displayImg.src = URL.createObjectURL(imgObject)})
</script>


<style>
  /* Стили для модального окна */
  .modal2 {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляет прокрутку, если контент выходит за пределы окна */
    background-color: rgba(0,0,0,0.4); /* Затемненный фон */
  }





  /* Контент модального окна */
  .modal-content2 {
    background-color: white;
    margin: 15% auto; /* 15% от верхнего и нижнего края экрана, автоматически отступ от других сторон */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Ширина контента */
  }

  /* Закрывающая кнопка */
  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>



<script>
document.addEventListener('DOMContentLoaded', function() {
  // Получаем ссылки на элементы модального окна
  var modal2 = document.getElementById('myModal2');
  var openModalBtn2 = document.getElementById('openModalBtn2');
  var closeModalBtn2 = document.getElementsByClassName('close2')[0];

  // Функция открытия модального окна
  openModalBtn2.onclick = function() {
    modal2.style.display = 'block'; // Показываем модальное окно
  }

  // Функция закрытия модального окна
  closeModalBtn2.onclick = function() {
    modal2.style.display = 'none'; // Скрываем модальное окно
  }

  // Закрытие модального окна при клике вне его области
  window.onclick = function(event) {
    if (event.target == modal) {
      modal2.style.display = 'none'; // Скрываем модальное окно
    }
  }
});
</script>



</body>
</html>