{% extends 'social/base.html' %}

{% load static %}


{% block main %}


<div class="buttons-container">
  <img src="{% static 'images/moneytree.jpg' %}" alt="STOP" width="200" height = '150px'>
  <p>Только при покупке подписки вы сможете выгружать больше трех постов! Цена: 5 BYN</p>

    <a href = '{% url "pay" %}' class="delete-button back-button">Купить</a>
    <a href="{% url 'index' %}" class="back-button">Назад</a>

</div>

<link rel="stylesheet" href="{% static 'css/delete_profile.css' %}">

{% endblock %}