{% extends 'social/base2.html' %}



{% block main %}

<h1><div class="home">
        <h1>{{group.title}}</h1>

      </div></h1>
<div class="tweets">
                    <a href="/profile/1/"><div class="user-pics"><img src="/media/profile_pic/05-crew-cut_gAXpXp4.jpg" alt="user3"></div></a>
                    <div class="user-content-box">
                    <div class="user-names">
                        <a href="/profile/1/"><hi class="full-name"></hi></a>
                        <p class="user-name">admin</p>
                        <p class="time">Feb. 17, 2024, 10:20 a.m.</p>

                    </div>

                <div class="user-content" id="user-content">
                    <p>Продам машину</p>
                    <img src="/media/posts/05b38181e7c8f527e941719bfd37326e_amhB3Ys.jpg" width="700px" height = '400px' alt="content1">

                </div>
                </div>
        </div>
{% endblock %}