{% extends 'social/base.html' %}


{% block main %}

<div class="search-box">
        <i class="fas fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Поиск группы" name="q" hx-get="/group_search/" hx-trigger="keyup changed, q" hx-target="#search-results" hx-indicator=".htmx-indicator">
        <div id="search-results">
        </div>
</div>
{% for group in groups %}

    <li class="nav-list-group">
            <div class="trend-list">
              <p class="sub-text">Время создания группы: {{group.data_created}}</p>
                <a href = "{% url 'group' group.id%}"><p class="main-text">{{group.title}}</p></a>
              <p class="sub-text">Members: {{group.users.all.count}}</p>
            </div>
            <div class = 'img-box-group-1'><a href = '{% url "group" group.pk %}'><img  src = '{{group.group_image.url}}'  border-radius='10px' width="50px" height="50px"></a></div>
            <div class="trend-icon">
            </div>
    </li>
{% endfor %}

{% endblock %}