{% extends 'social/base.html' %}
{% load static %}

{% block main %}

  <div class="profile-container">
    <div class="profile-info">
            {% if user.cover %}
            <div class="cover-container" style="background-image: url('{{ user.cover.url }}');">
            {% else %}
            <div class="cover-container" style="background-image: url('{% static 'images/no-covers.jpg' %}');">
            {% endif %}
            {% if request.user.is_authenticated and moderator  %}
                {% if not user.is_superuser and not user_checked_moderator %}
                <a href="{% url 'delete_profile_moderator' user.pk %}">Delete Profile as moderator</a>
                {% endif %}
            {% endif %}
                <h1 >{{ user.username }}</h1>
                {% if user == request.user %}
                    {% if user not in subscribe.Users.all %}
                        <a href="{% url 'buy_subscribe' %}">Buy a paid subscription</a>
                    {% else %}
                        <h2>Paid subscription</h2>
                    {% endif %}
                {% endif %}

                {% if user.profile_pic %}

                  <div class="profile-pic-container">
                    <img src="{{ user.profile_pic.url }}" alt="Profile Picture" class="profile-pic">
                  </div>

                {% else %}
                <img src="{% static 'images/no_photo.jpg' %}" alt="Изображение профиля не загружено" class="profile-no-pic">
                {% endif %}
            </div>

            <div>
              <h4>Name: <span style="color: #228B22;">{{ user.first_name }}</span></h4>
              <h4>Surname: <span style="color: #228B22;">{{ user.last_name }}</span></h4>
              <h4>Email: <span style="color: #228B22;">{{ user.email }}</span></h4>
              <p><span style="color: #228B22;">Biography:</span> {{ user.bio }}</p>
              <p><span style="color: #228B22;">Private:</span> {% if user.private %} Private account {% else %} Public Account{% endif %}</p>
              <p><span style="color: #228B22;">Followers:</span> {{ user.follower.count }}</p>

              <p><span style="color: #228B22;">Followings:</span> {{followings}}</span></p>
              <ul>

              </ul>
                <br>
                  <div>
                    {% if user == request.user %}
                    <a href="{% url 'edit_profile' user.id %}">Change Profile</a>
                      {% if not user.deleted %}
                    <a href="{% url 'delete_profile' user.id %}">Delete Profile</a>
                      {% else %}
                        <h1>Until profile delete  {{user.days_until_delete}} days </h1>
                       {% endif %}
                    {% endif %}

                    {% if not user == request.user %}
                        <a class = 'send-message' href =  '{% url "thread_start" user.id %}'>Send message<i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                  </div>
              <br>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <div class="post-section">
      <h2>User posts</h2>
       {% for post in posts %}
        <tr id="post{{post.pk}}">
            <td><div class="tweets">

                    {% if post.creater.profile_pic %}<a href = "{% url 'user_profile' post.creater.id %}"><div class="user-pics"><img src="{{post.creater.profile_pic.url}}" alt="user3"></div></a>{% else %}<a href = "{% url 'user_profile' post.creater.id %}"><div class="user-pics"><img src = "{% static 'images/no_photo.jpg' %}"></div></a>{% endif %}
                    <div class="user-content-box">
                    <div class="user-names">
                        <a href = "{% url 'user_profile' post.creater.id %}"><hi class="full-name">{{post.creater.first_name}}</hi></a>
                        <p class="user-name">{{post.creater.username}}</p>
                        <p class="time">{{post.data_created}}</p>

                    </div>




                <div class="user-content" id = "user-content">
                    <p>{{post.context_text}}</p>
                    {% if  post.context_image %}
                    <img src="{{post.context_image.url}}" width = '900px'  alt="content1">
                    {% endif %}
                </div>
                    <div class="content-icons">
                        <a class = 'comment-toggle-btn'><i class="far fa-comment blue">{{post.comments.all.count}}</i></a>
                        <form class="comment-form"  style="display: none;" action =  '{% url "add_comment" post.id %}' method = 'POST'>
                            {% csrf_token %}
                            <div class="comments-container">
                                {% for comment in post.comments.all %}
                                    <div class="comment">{{ comment.comment_content }}</div>
                                {% endfor %}
                            </div>
                            <textarea name="comment" placeholder="Напишите комментарий" required ></textarea>
                            <button type="submit">Send</button>
                        </form>
                        <a id = "{{post.id}}" class = 'savepostbtn' data-url = '{% url "save_post" %}'>{% if not user in post.savers.all %}<i class="fa-regular fa-bookmark"  style="color: #FFD43B;"></i>{% else %}<i class="fa-solid fa-bookmark" style="color: #FFD43B;"></i>{% endif %}</a>
                        <a id = '{{ post.pk }}' data-url  = '{% url "add_like" %}' class ='likebtn'><i  {% if not user in post.likers.all %} class = 'fa-regular fa-heart' style = "color: #ff0000;" {% else %} class = 'fa-solid fa-heart ' style = "color: #ff0000;" {% endif %}></i> <span   id = "like_count{{post.pk}}"  >{{post.total_likes}}</span></a>
                        {% if post.creater == request.user %}
                        <a  onClick="deletePost({{post.pk}})"><i class="fa-solid fa-trash-can"></i></a>
                        {% endif %}
                    </div>
                </div>
        </div>
        </td>
    </tr>

      {% empty %}
        <p>User doesn't have any posts</p>
      {% endfor %}
  </div>

{% endblock %}