{% extends 'social/base.html' %}

{% block main %}
  <div class="profile-container">
    <div class="profile-info">
      <h1>{{ user.username }}</h1>
      {% if user.profile_pic %}
        <img src="{{ user.profile_pic.url }}" alt="Profile Picture">
      {% else %}
        <p>Изображение профиля не загружено</p>
      {% endif %}

      <p>Изменить изображение профиля</p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="profile_pic">
        <button type="submit">Изменить изображение</button>
      </form>

      <p>Имя: <span id="first_name">{{ user.first_name }}</span> <button onclick="editField('first_name')">Изменить</button></p>
      <div id="first_name_edit" style="display: none;">
        <input type="text" id="first_name_input">
        <button onclick="saveField('first_name')">Сохранить</button>
        <button onclick="cancelEdit('first_name')">Отмена</button>
      </div>
      <p>Фамилия: <span id="last_name">{{ user.last_name }}</span> <button onclick="editField('last_name')">Изменить</button></p>
      <div id="last_name_edit" style="display: none;">
        <input type="text" id="last_name_input">
        <button onclick="saveField('last_name')">Сохранить</button>
        <button onclick="cancelEdit('last_name')">Отмена</button>
      </div>
      <p>Email: <span id="email">{{ user.email }}</span> <button onclick="editField('email')">Изменить</button></p>
      <div id="email_edit" style="display: none;">
        <input type="email" id="email_input">
        <button onclick="saveField('email')">Сохранить</button>
        <button onclick="cancelEdit('email')">Отмена</button>
      </div>
      <p>Подписчики: {{ user.follower.count }}</p>
    </div>
    <div class="profile-edit">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <button type="submit">Сохранить изменения</button>
      </form>
    </div>
    <div class="following-list">
      <h2>Подписки</h2>
      <ul>
        {% for following in user.follower.first.followings.all %}
          <li>{{ following.username }}</li>
        {% empty %}
          <li>Нет подписок</li>
        {% endfor %}
      </ul>
    </div>
  </div>


{% endblock %}
