# Default ignored files
/../../DjangoSocialNetwork /.idea/shelf/
/../../DjangoSocialNetwork /.idea/workspace.xml
/shelf/Uncommitted_changes_before_Merge_at_1_03_24,_19_46_[Changes]/db.sqlite3
/shelf/Uncommitted_changes_before_Checkout_at_10_02_2024_10_08_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_10_02_2024_10_39_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_10_02_2024_10_08__Changes_.xml
/shelf/Uncommitted_changes_before_Update_at_10_02_2024_10_39__Changes_.xml
/shelf/Uncommitted_changes_before_Merge_at_1_03_24,_19_46_[Changes]/db.sqlite3
